# Object files
*.o
*.ko

# Libraries
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Kicad Backups
*.bak

# Vim Swap
*.swp
*.swo
*.swn

firmware/Libraries
firmware/LED Strip/EWARM/STM32F051
